/* 기본 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 헤더 스타일 */
header {
    background-color: #081F5C;
    padding: 20px 0;
}

header .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    font-size: 36px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

/* 게시글 내용 */
.post-content {
    width: 100%;  /* 게시글과 댓글의 너비를 일치시킵니다 */
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.post-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #081F5C;
}

.post-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666666;
}

.post-body {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* 댓글 섹션 */
.comment-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 댓글 */
.comment {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-author {
    font-weight: bold;
    margin-right: 10px;
}

.comment-date {
    font-size: 12px;
    color: #999999;
}

/* 댓글 작성 폼 */
.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%; /* 게시글과 동일한 너비 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 게시글과 비슷한 그림자 */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* 게시글과 동일한 모서리 */
}

.comment-area {
    resize: none;
    height: 100px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; /* 전체 너비를 사용 */
    box-sizing: border-box; /* padding과 border 포함하여 너비 계산 */
}

.comment-submit {
    align-self: flex-end;
    background-color: #3048A0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* 푸터 스타일 */
footer {
    background-color: #081F5C;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
}

footer .footer-content {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}
